// Fonts
$main-font              : "Geometria", "Arial", "Helvetica", sans-serif;
$main-medium-font       : "Geometria Medium", "Arial", "Helvetica", sans-serif;
$main-bold-font         : "Geometria ExtraBold", "Arial", "Helvetica", sans-serif;


// Size
$basic-width             : 1200px;
$main-font-color         : #101010;
$base-font-size          : 16px;
$base-line-height        : 1.5;

// Responsive sizes
$big-desktop-width       : 1440px;
$desktop-width           : 1200px;
$tablet-width            : 980px;
$phone-width             : 768px;
$m-phone-width           : 480px;
$sm-phone-width          : 320px;

// Main color
$makro-color             : #6ebb20;
$default-color           : #ffffff;
$primary-color           : #444ce0;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999999;
$purple-color            : #8854d0;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #c0c4cc;

// Border Color
$border-base             : #dcdfe6;
$border-light            : #e4e7ed;
$border-lighter          : #ebeef5;
$border-lightex          : #f2f6fc;


$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);

$z-indexes: (
    "outdated-browser",
    "modal",
    "site-header",
    "page-wrapper",
    "site-footer"
);


// BULMA Variables
$section-padding-medium: 7rem 4.5rem;


// 4. Setup your Custom Colors
$makro: #6ebb20;
$makro-invert: #ffffff;

// 5. Add new color variables to the color map.
@import "../../../node_modules/bulma/sass/utilities/derived-variables.sass";
$addColors: (
  "makro":($makro, $makro-invert),
);

$colors: map-merge($colors, $addColors);
