section.ceo.section.is-medium
  .container
    .columns.is-variable.is-8
      .column.is-4
        figure.column__photo
          img(src="images/team-member.jpg", width="400", height="400" alt="Роман Сайфулин")
          figcaption.ceo__name Роман Сайфулин

      .column.is-8
        section.column__text
          strong Dear Customer,

          p At Makro, we are proud to offer our customers a wide range of products at competitive prices, helping residents
          | of Uzbekistan from all walks of life to live well today and tomorrow.
          | At the heart of our success is our commitment to quality. Our Quality Management System (QMS) ensures a
          | positive experience for all our customers. The QMS extends to all aspects of the retail experience—from the
          | products we offer on our shelves, to the meat, fish, bakery goods, and hot food we serve at our counters, to the
          | customer service provided by our team members, and to the role we seek to play in our communities.
          | We know that the success of our business requires continued investment in quality. In our second decade of
          | operations, we are continuing to learn, adopting international best-practices and adapting for local needs so that
          | we can make the following promises to you.

          p We promise to:
          ul
            li Understand our consumers and reach them with the store formats and sales channels that suit their needs
            li Embrace innovation and introduce new technologies to make shopping as convenient as possible
            li Provide high-quality offerings across price segments so that we can serve customers from all walks of life
            li Reduce our environmental footprint for the sake of future generations
            li Ensure stringent compliance with all labor regulations and food safety standards
            li Support the growth and development of our employees, motivating them for success
            li Work in partnership with our suppliers, especially Uzbekistan’s farmers and producers
            li Give back to our communities through our charitable activities
            li Grow our business sustainability and responsibility so that our customers can depend on us for years to come

          p On behalf of our team of over 4,000 employees, I would like to thank you for choosing Makro.

          p We are proud to serve you each day.
