section.makro-locations.section.is-medium
  section.columns
    .column.is-3
      aside.makro-locations__menu
        button.makro-locations__menu-btn Список магазинов
          i.makro-locations__menu-btn-icon
            span
            span
            span

        .makro-locations__menu-content
          ul.makro-locations__stores-group
            li.makro-locations__stores-group-item.makro-locations__stores-group-item--has-dropdown
              a.makro-locations__stores-group-link Самарканд

              ul.makro-locations__inner-list
                li.makro-locations__inner-list-item
                  a.makro-locations__inner-list-link Магазин №1
                li.makro-locations__inner-list-item
                  a.makro-locations__inner-list-link Магазин №2
                li.makro-locations__inner-list-item
                  a.makro-locations__inner-list-link Магазин №3
                li.makro-locations__inner-list-item
                  a.makro-locations__inner-list-link Магазин №3
                li.makro-locations__inner-list-item
                  a.makro-locations__inner-list-link Магазин №3
                li.makro-locations__inner-list-item
                  a.makro-locations__inner-list-link Магазин №3
                li.makro-locations__inner-list-item
                  a.makro-locations__inner-list-link Магазин №3
                li.makro-locations__inner-list-item
                  a.makro-locations__inner-list-link Магазин №3
                li.makro-locations__inner-list-item
                  a.makro-locations__inner-list-link Магазин №3

            li.makro-locations__stores-group-item.makro-locations__stores-group-item--has-dropdown
              a.makro-locations__stores-group-link Ташкент

              ul.makro-locations__inner-list
                li.makro-locations__inner-list-item
                  a.makro-locations__inner-list-link Магазин №1
                li.makro-locations__inner-list-item
                  a.makro-locations__inner-list-link Магазин №2
                li.makro-locations__inner-list-item
                  a.makro-locations__inner-list-link Магазин №3


            li.makro-locations__stores-group-item
              a(href="#").makro-locations__stores-group-link Наманган
            li.makro-locations__stores-group-item
              a(href="#").makro-locations__stores-group-link Фергана
            li.makro-locations__stores-group-item
              a(href="#").makro-locations__stores-group-link Карши



        //- p.menu-label Локации
        //- ul.menu-list.makro-locations__list

        //-   li.makro-locations__list-item.makro-locations__list-item--active
        //-     a.makro-locations__list-item-link Магазин 1

        //-     ul.menu-list.makro-locations__inner-list
        //-       li.makro-locations__inner-list-item
        //-         a Магазин 1
        //-       li.makro-locations__inner-list-item
        //-         a Магазин 1
        //-       li.makro-locations__inner-list-item
        //-         a Магазин 1
        //-       li.makro-locations__inner-list-item
        //-         a Магазин 1
        //-       li.makro-locations__inner-list-item
        //-         a Магазин 1
        //-       li.makro-locations__inner-list-item
        //-         a Магазин 1
        //-       li.makro-locations__inner-list-item
        //-         a Магазин 1
        //-       li.makro-locations__inner-list-item
        //-         a Магазин 1

        //-   - let counter = 2
        //-   while counter < 4
        //-     li.makro-locations__list-item
        //-       a.makro-locations__list-item-link Магазин #{counter}
        //-       - counter++
        //-       ul.menu-list.makro-locations__inner-list
        //-         li.makro-locations__inner-list-item
        //-           a Магазин 1
        //-         li.makro-locations__inner-list-item
        //-           a Магазин 1
        //-         li.makro-locations__inner-list-item
        //-           a Магазин 1
        //-         li.makro-locations__inner-list-item
        //-           a Магазин 1
        //-         li.makro-locations__inner-list-item
        //-           a Магазин 1
        //-         li.makro-locations__inner-list-item
        //-           a Магазин 1
        //-         li.makro-locations__inner-list-item
        //-           a Магазин 1
        //-         li.makro-locations__inner-list-item
        //-           a Магазин 1
    .column.is-9.makro-locations__map
      <div style="position:relative;overflow:hidden;"><a href="https://yandex.uz/maps/10335/tashkent/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Ташкент</a><a href="https://yandex.uz/maps/10335/tashkent/?ll=69.279737%2C41.311151&utm_medium=mapframe&utm_source=maps&z=12" style="color:#eee;font-size:12px;position:absolute;top:14px;">Яндекс.Карты — транспорт, навигация, поиск мест</a><iframe src="https://yandex.uz/map-widget/v1/-/CCtA5~r" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>


