extends ../layouts/default

block variables
  - const title = "CEO Page Design"
  - const pageHeader = "Обращение CEO компании"

block content
  //- Site Header
  include ../modules/header/header

  main.page.page__inner

    //- Inner Page Title
    include ../modules/inner-page-title/inner-page-title

    //- Ceo
    include ../modules/inner-page-ceo/inner-page-ceo

    //- Secti News
    include ../modules/news/news

  //- Secti News
  include ../modules/footer/footer

  //- Site Footer
  //- include ../modules/footer/footer
block scripts
