extends ../layouts/default

block variables
  - const title = "Project title"

block content
  //- Site Header
  include ../modules/header/header

  main.page-content

    //- Section Slider
    include ../modules/slider/slider

    //- Section Company
    include ../modules/company/company

    //- Section Formats
    include ../modules/formats/formats

  //- Site Footer
  //- include ../modules/footer/footer
block scripts
