extends ../layouts/default

block variables
  - const title = "Project title"

block content
  //- Site Header
  include ../modules/header/header

  main.page-content

    //- Site Slider
    include ../modules/slider/slider

  //- Site Footer
  //- include ../modules/footer/footer
block scripts
