extends ../layouts/default

block variables
  - const title = "Project title"

block content
  //- Site Header
  include ../modules/header/header

  main.page.page__home

    //- Section Slider
    //- include ../modules/slider/slider

    //- Section Company
    include ../modules/company/company

    //- Section Formats
    include ../modules/formats/formats

    //- Section Geo
    include ../modules/geo/geo

    //- Secti Social Projects
    include ../modules/social-projects/social-projects

    //- Secti E Makro
    include ../modules/e-makro/e-makro

    //- Secti News
    include ../modules/news/news

  //- Section Footer
  include ../modules/footer/footer

  //- Site Footer
  //- include ../modules/footer/footer
block scripts
