extends ../layouts/default

block variables
  - const title = "Inner Page Design"

block content
  //- Site Header
  include ../modules/header/header

  main.page.page__inner

    //- Inner Page Title
    include ../modules/inner-page-title/inner-page-title

    //- Team Grid
    include ../modules/inner-page-team/inner-page-team

    //- Secti News
    include ../modules/news/news

    //- Secti News
    include ../modules/footer/footer

  //- Site Footer
  //- include ../modules/footer/footer
block scripts
