extends ../layouts/default

block variables
  - const title = "Police Page Design"

block content
  //- Site Header
  include ../modules/header/header

  main.page.page__inner

    //- Inner Page Title
    include ../modules/inner-page-title/inner-page-title

    //- Ceo
    include ../modules/inner-page-police/inner-page-police

    //- Secti News
    include ../modules/news/news

  //- Secti News
  include ../modules/footer/footer

  //- Site Footer
  //- include ../modules/footer/footer
block scripts
