.makro-team__long-content {
  position: relative;
}

.page__description p {
  margin: 0;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 23px;
  line-height: 1.7;
  background-color: $default-color;
  text-align: center;
}
