section.makro-team.section.is-medium
  .container

    section.page__description
      p Под руководством главного исполнительного директора менеджмент осуществляет оперативное управление компанией, обеспечивает работу функциональных подразделений и соблюдение всех применимых законодательных и иных нормативных актов, а также управление рисками, связанными с деятельностью компании.

    section.makro-team__wrap
      section.makro-team__content.makro-team__content--single
        header.makro-team__grid-header Руководитель
        section.makro-team__cards
          article.makro-team__card
            figure.makro-team__card-person-photo
              img(src="images/team-member.jpg", width="400", height="400" alt="Роман Сайфулин")
            h3.makro-team__card-person-name Роман Сайфулин
            p.makro-team__card-person-position генеральный директор

