section.policy.section.is-medium
  .container

    .column.is-8.is-offset-2
      section.column__text.column__text--large.column__text--center
        p Каждый день более 4500 сотрудников объединяют свои усилия и талант, чтобы предоставить нашим клиентам самый широкий ассортимент качественных товаров обеспечивая при этом стабильность, высокий уровень культуры потребления и сервиса.
      section.column__text
        h2.column__header Видение
        ul
          li Стремимся быть лучшим местом для покупок;
          li Быть местом возможностей и роста сплоченной команды;
          li Быть лучшим соседом для каждого жителя и общества в целом;
          li Быть ориентированными на потребности клиентов;
          li Соответствовать требованиям международных стандартов;
          li Стремиться к безопасности и стабильно высокому качеству продукции и услуг.

      section.column__text
        h2.column__header Стратегические направления
        ul
          li Стремимся быть лучшим местом для покупок;
          li Быть местом возможностей и роста сплоченной команды;
          li Быть лучшим соседом для каждого жителя и общества в целом;
          li Быть ориентированными на потребности клиентов;
          li Соответствовать требованиям международных стандартов;
          li Стремиться к безопасности и стабильно высокому качеству продукции и услуг.


      section.column__text
        h2.column__header Ценности
        ul
          li Лидерство
          li Доверие
          li Взаимовыгодное партнерство
          li Эффективность и развитие

