.page-title {
  position: relative;
  display: flex;
  min-height: 700px;

  @include mq('tablet-wide', max) {
    min-height: 550px;
  }
}

.page-title__background {
  @include position-cover();
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::before {
    @include size(35%, 100%);
    display: block;
    background-color: rgba($default-color, 0.93);
    content: "";
  }

  @include mq('tablet-wide', max) {

    &::before {
      @include size(100%);
      background-color: rgba($default-color, 0.6);
    }
  }
}

.page-title__content {
  @include size(60%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include mq('desktop-wide') {
    @include size(40%, 100%);
  }

  @include mq('tablet-wide', max) {
    @include size(70%, 100%);
    margin: 0 auto;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }

  @include mq('tablet', max) {
    @include size(100%);
    align-items: center;
    text-align: center;
    padding: 0 20px;
  }
}

.page-title__header {
  margin: 0;
  margin-bottom: 25px;
  font-family: $main-bold-font;
  font-size: 70px;
  line-height: 1.3;
  text-transform: uppercase;
  word-wrap: break-word;

  @include mq('tablet-wide', max) {
    font-size: 60px;
  }

  @include mq('tablet', max) {
    font-size: 40px;
  }
}

.page-title__short-text {
  margin: 0;
  margin-bottom: 50px;
  font-size: 21px;
  line-height: 1.7;

  @include mq('tablet-wide', max) {
    font-size: 19px;
  }

  @include mq('tablet', max) {
    font-size: 19px;
  }
}
