//- - const pageHeader = "Наша команда"
section.page-title
  .page-title__background(style="background-image: url('images/business-team-bg.jpg');")
  //- .page-title__content-wrap
  .container
    .page-title__content
      h1.page-title__header Заголовок страницы
      p.page-title__short-text Один из факторов, обеспечивающих высокий уровень предлагаемых нами услуг – тщательно подобранный профессиональный состав компании.
      .buttons
        a.button.is-makro.is-medium(href="#begin") Подробнее

