section.page-title
  .page-title__wrap
    .page-title__bg-img(style="background-image: url(images/business-team-bg.jpg);")
    .page-title__content
      h1.page-title__header Наша команда
      p.page-title__short-text Один из факторов, обеспечивающих высокий уровень предлагаемых нами услуг – тщательно подобранный профессиональный состав компании.
      a.page-title__anchor(href="#begin") Подробнее

