.e-makro {
  position: relative;
  background-image: url("../images/e-makro-bg-img.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  // background-size: 1000px 650px;
  background-size: auto 80%;

  @include mq('tablet-wide', max) {
    background-size: auto 50%;
  }

  @include mq('tablet', max) {
    background: none;
  }
}

.e-makro__loyalty {
  width: 40%;
  margin-bottom: 30px;

  @include mq('tablet', max) {
    width: 100%;
  }
}

.e-makro__loyalty-header {
  margin-bottom: 18px;
  font-size: 20px;
}

.e-makro__text {
  margin: 0;
  margin-bottom: 50px;
  font-size: 18px;
}

.e-makro__loyalty-links {
  display: flex;
  gap: 25px;
  margin-bottom: 50px;

  @include mq('tablet-wide', max) {

  }

  @include mq('tablet', max) {
    flex-wrap: wrap;
    gap: 0;
  }
}

.e-makro__loyalty-link {
  margin-bottom: 20px;
  transition: all 0.2s;
  text-align: center;
  color: $neutral-secondary;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }

  @include mq('tablet', max) {
    display: block;
    width: 50%;
  }

  // &:not(:last-child) {
  //   margin-right: 30px;
  // }
}

.e-makro__button {

  @include mq('tablet', max) {
    display: block;
  }
}
