section.company.section.is-medium
  .container
    .columns
      .column.company___numbers
        .company__number-item
          b.company__number 106
          p.company__number-description Магазинов

        .company__number-item
          b.company__number 3400
          p.company__number-description Сотрудников

      .column.company___about
        h2.section-header
          | О компании
        p.company___about-text
          | Сеть супермаркетов и гипермаркетов Makro была создана в 2010 году, когда в Ташкенте открылся первый магазин Makro в торговом центре Megaplanet Mall, также управляемый группой компаний Orient.
        p.company___about-text
          | Сегодня наша сеть крупномасштабного розничного дистрибьютора продуктов питания Makro является крупнейшей сетью в Узбекистане, расположенной в основном в столице Узбекистана Ташкенте и распространяющейся на основные регионы с развитием Ферганской области в Анджане, Намангане, Асаке, Шахрихане, Коканде и город Фергана. Расширение также началось в юго-западном регионе с открытием магазинов в Самарканде, Навои и Карши.
