.section-header {
  margin: 0;
  margin-bottom: 30px;
  font-family: $main-medium-font;
  font-size: 30px;
  color: $default-color;
  text-transform: uppercase;

  &--is-absolute {
    margin: 0;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }

  &--is-centered {
    text-align: center;
  }

  &--is-dark {
    color: $main-font-color;
  }

  &--is-big {
    font-size: 60px;
  }
}
