$sprite: (
    'app-store': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='currentColor' d='M318.7 268.7c-.2-36.7 16.4-64.4 50-84.8-18.8-26.9-47.2-41.7-84.7-44.6-35.5-2.8-74.3 20.7-88.5 20.7-15 0-49.4-19.7-76.4-19.7C63.3 141.2 4 184.8 4 273.5q0 39.3 14.4 81.2c12.8 36.7 59 126.7 107.2 125.2 25.2-.6 43-17.9 75.8-17.9 31.8 0 48.3 17.9 76.4 17.9 48.6-.7 90.4-82.5 102.6-119.3-65.2-30.7-61.7-90-61.7-91.9zm-56.6-164.2c27.3-32.4 24.8-61.9 24-72.5-24.1 1.4-52 16.4-67.9 34.9-17.5 19.8-27.8 44.3-25.6 71.9 26.1 2 49.9-11.4 69.5-34.3z'/%3e%3c/svg%3e",
    'chevron-down': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='currentColor' d='M207.029 381.476 12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z'/%3e%3c/svg%3e",
    'google-play': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='currentColor' d='M325.3 234.3 104.6 13l280.8 161.2-60.1 60.1zM47 0C34 6.8 25.3 19.2 25.3 35.3v441.3c0 16.1 8.7 28.5 21.7 35.3l256.6-256L47 0zm425.2 225.6-58.9-34.1-65.7 64.5 65.7 64.5 60.1-34.1c18-14.3 18-46.5-1.2-60.8zM104.6 499l280.8-161.2-60.1-60.1L104.6 499z'/%3e%3c/svg%3e",
    'icon-close': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M29.6 25 49 5.5c1.3-1.3 1.3-3.3 0-4.6-1.3-1.3-3.3-1.3-4.6 0L25 20.4 5.5 1C4.3-.3 2.2-.3 1 1-.3 2.3-.3 4.3 1 5.6L20.4 25 1 44.5c-1.3 1.3-1.3 3.3 0 4.6.6.6 1.4.9 2.2.9s1.7-.3 2.3-.9L25 29.6l19.5 19.5c.6.6 1.5.9 2.3.9s1.7-.3 2.3-.9c1.3-1.3 1.3-3.3 0-4.6L29.6 25z'/%3e%3c/svg%3e",
    'icon-down': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.5 10 0 0h11'/%3e%3c/svg%3e",
    'icon-search': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m15.7 14.3-3.104-3.104A6.979 6.979 0 0 0 14 7a7 7 0 1 0-7 7 6.963 6.963 0 0 0 4.193-1.404L14.3 15.7c.185.184.38.3.7.3a1 1 0 0 0 1-1 .93.93 0 0 0-.3-.7zM2 7c0-2.762 2.238-5 5-5s5 2.238 5 5-2.238 5-5 5-5-2.238-5-5z'/%3e%3c/svg%3e",
    'icon-up': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.5 0 0 10h11z'/%3e%3c/svg%3e",
    'makro-card': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='currentColor' d='M0 432c0 26.5 21.5 48 48 48h480c26.5 0 48-21.5 48-48V256H0v176zm192-68c0-6.6 5.4-12 12-12h136c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H204c-6.6 0-12-5.4-12-12v-40zm-128 0c0-6.6 5.4-12 12-12h72c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H76c-6.6 0-12-5.4-12-12v-40zM576 80v48H0V80c0-26.5 21.5-48 48-48h480c26.5 0 48 21.5 48 48z'/%3e%3c/svg%3e",
    'makro-logo': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3cg%3e%3cpath d='M35 29.1c7 4.8 16.5 15 16.7 27-11.7 9.4-28.3 9.2-40-.2C21.8 49.5 30.2 40 35 29.1zM35 29.1C39.2 20 41.1 10 40.7 0c8 2.3 14.8 7.7 18.9 14.8 4.1 7.2 5.3 15.7 3.3 23.9-8.4-5.4-18-8.7-27.9-9.6zM20.2 1.1c10.2 6.1 14.2 19.5 14.8 28C23.2 27.8 10.9 30.4.4 36-1.9 21.2 6.2 6.7 20.2 1.1zM272.3 46.3c3 0 5.8-1.2 8.2-3.5 2.4-2.4 3.6-5.2 3.6-8.7v-3.8c0-3.5-1.2-6.4-3.7-8.7s-5.3-3.5-8.3-3.5h-10.2c-3.1 0-6 1.2-8.5 3.5s-3.8 5.2-3.8 8.7v3.9c0 3.4 1.2 6.4 3.6 8.7s5.1 3.5 8.2 3.5h10.9zm3.6-15.3v2.5c0 1.8-.6 3.2-1.8 4.5-1.2 1.2-2.6 1.8-4.3 1.8h-6c-1.6 0-3-.6-4.3-1.8-1.2-1.2-1.8-2.7-1.8-4.5V31c0-1.8.6-3.4 1.8-4.5s2.6-1.8 4.3-1.8h6c1.8 0 3.2.6 4.3 1.8 1.3 1.2 1.8 2.6 1.8 4.5zM228.7 31.6c0-2.1.5-3.8 1.5-5 .9-1.2 2.4-1.8 4.3-1.8h11.7v-6.5h-13.4c-3.7 0-6.6 1.2-8.8 3.6s-3.4 5.5-3.4 9.5v15.1h8.1V31.6zM206.5 18.2l-3.3 4.9c-.8 1.2-1.6 2-2.3 2.5-.8.5-1.8.8-3 .8h-6.6V7H183v39.3h8.2V33h4.7c1.9 0 3.2.2 4 .7.7.5 1.4 1.5 2.2 2.8l5.3 9.8h9.2l-6.7-12.7c-1.1-2-2.5-3.1-4.4-3.3 1.8-.4 3.1-1.4 4.1-2.9l6.1-9.2h-9.2zM149.7 29c-2.1 0-4 .8-5.7 2.4s-2.5 3.7-2.5 6.3c0 2.4.8 4.4 2.3 6.1 1.6 1.7 3.5 2.5 5.7 2.5h15.9c3.2 0 5.8-1 7.6-3.1 1.9-2.1 2.7-4.4 2.7-7.2v-8.1c0-2.8-.9-5.1-2.7-6.9-1.8-1.9-4.6-2.8-8.4-2.8h-19.3v6.6h18.2c1.4 0 2.4.3 3 .9s.9 1.4.9 2.3v1h-17.7zm18.1 5.8v1.7c0 .9-.3 1.7-.9 2.4-.6.6-1.5.9-2.5.9h-13c-.6 0-1.1-.2-1.6-.7s-.7-1.1-.7-1.8.2-1.4.7-1.8 1-.6 1.6-.6l16.4-.1zM113.7 46.3v-14c0-2.1.5-3.9 1.6-5.5 2-3 8.8-3.1 11.2-.4 1.1 1.2 1.6 2.8 1.6 4.7v15.1h8.1v-15c0-3.8-1.1-6.9-3.2-9.4-5.4-6.1-18.5-4.7-23.1 1.5-4.4-6.5-17.8-7-23.2-1.4-2.3 2.5-3.6 5.5-3.6 9.2v15.1h8.1V31.1c0-1.9.5-3.4 1.6-4.6 2.3-2.5 9.1-2.6 11.2.2 1 1.4 1.5 3 1.5 5.2v14.5l8.2-.1z'/%3e%3c/g%3e%3c/svg%3e",
    'product-cat-1': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3cg fill='%23363636'%3e%3cpath d='M84.131 32.639V20.003c0-1.309 1.045-2.37 2.335-2.37l8.326 1.581V11.02c0-2.355-1.708-3.431-4.202-4.265L67.403.175c1.616 1.391 1.889 2.04 1.889 4.396V49.78c0 2.356-.45 4.066-1.967 5.21l23.265-7.065c2.401-.833 4.202-4.216 4.202-6.572V33.44l-8.326 1.567c-1.29.002-2.335-1.06-2.335-2.368z'/%3e%3cpath d='m95.129 20.979-7.598-1.444c-1.008 0-1.824.829-1.824 1.851v9.868c0 1.023.816 1.852 1.824 1.852l7.598-1.431c1.154-.419 1.824-.829 1.824-1.852V22.83c0-1.022-.766-1.507-1.824-1.851zM67.17 4.483c0-5.08-4.232-4.459-4.232-4.459S5.832 4.738 2.838 5.145.001 9.532.001 9.532L0 45.812c0 3.743 2.599 3.753 2.599 3.753l16.477 1.403L27.212 39.3s1.109-1.828 2.505-1.828c1.397 0 2.432 1.861 2.432 1.861l9.061 13.521s18.895 1.909 22.521 1.909c3.626-.001 3.439-5.024 3.439-5.024V4.483zM12.982 37.192c-3.698 0-6.696-4.601-6.696-10.275s2.998-10.275 6.696-10.275c3.698 0 6.696 4.601 6.696 10.275s-2.998 10.275-6.696 10.275zm36.158 1.426c-4.662 0-8.441-5.239-8.441-11.701 0-6.463 3.78-11.702 8.441-11.702 4.662 0 8.442 5.239 8.442 11.702 0 6.462-3.78 11.701-8.442 11.701z'/%3e%3c/g%3e%3c/svg%3e",
    'radio-off': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3e%3c/svg%3e",
    'telegram-circle': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='currentColor' d='M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm121.8 169.9-40.7 191.8c-3 13.6-11.1 16.9-22.4 10.5l-62-45.7-29.9 28.8c-3.3 3.3-6.1 6.1-12.5 6.1l4.4-63.1 114.9-103.8c5-4.4-1.1-6.9-7.7-2.5l-142 89.4-61.2-19.1c-13.3-4.2-13.6-13.3 2.8-19.7l239.1-92.2c11.1-4 20.8 2.7 17.2 19.5z'/%3e%3c/svg%3e",
    'telegram-plane': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='currentColor' d='m446.7 98.6-67.6 318.8c-5.1 22.5-18.4 28.1-37.3 17.5l-103-75.9-49.7 47.8c-5.5 5.5-10.1 10.1-20.7 10.1l7.4-104.9 190.9-172.5c8.3-7.4-1.8-11.5-12.9-4.1L117.8 284 16.2 252.2c-22.1-6.9-22.5-22.1 4.6-32.7L418.2 66.4c18.4-6.9 34.5 4.1 28.5 32.2z'/%3e%3c/svg%3e"
);

$size: (
    'app-store': (
        'width': 384px,
        'height': 512px
    ),
    'chevron-down': (
        'width': 448px,
        'height': 512px
    ),
    'google-play': (
        'width': 512px,
        'height': 512px
    ),
    'icon-close': (
        'width': 50px,
        'height': 50px
    ),
    'icon-down': (
        'width': 11px,
        'height': 10px
    ),
    'icon-search': (
        'width': 16px,
        'height': 16px
    ),
    'icon-up': (
        'width': 11px,
        'height': 10px
    ),
    'makro-card': (
        'width': 576px,
        'height': 512px
    ),
    'makro-logo': (
        'width': 284px,
        'height': 63px
    ),
    'product-cat-1': (
        'width': 97px,
        'height': 55px
    ),
    'radio-off': (
        'width': 25px,
        'height': 25px
    ),
    'telegram-circle': (
        'width': 496px,
        'height': 512px
    ),
    'telegram-plane': (
        'width': 448px,
        'height': 512px
    )
);

$variables: (
    /* EMPTY */
);

// https://github.com/waldemarfm/sass-svg-uri/blob/v1.0.0/_svg-uri.scss
@function sprite-str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);

    @if type-of($replace) == 'null' {
        $replace: '';
    }

    @if ( $index ) {
        @return str-slice($string, 1, $index - 1) + $replace + sprite-str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

@function sprite-svg-uri($value) {
    $output: $value;

    $output: sprite-str-replace($output, '"', "'");
    $output: sprite-str-replace($output, '<', '%3C');
    $output: sprite-str-replace($output, '>', '%3E');
    $output: sprite-str-replace($output, '&', '%26');
    $output: sprite-str-replace($output, '#', '%23');

    @return $output;
}

@mixin sprite($name, $user-variables: (), $include-size: false) {
    $sprite: map-get($sprite, $name);

    // Inject variables
    $default-variables: map-get($variables, $name);
    @if type-of($default-variables) == 'map' {
        @each $key, $value in map-merge($default-variables, $user-variables) {
            @if ( not map-has-key($default-variables, $key) ) {
                @warn 'Sprite \'#{$name}\' does not support variable named \'#{$key}\'';
            }

            $sprite: sprite-str-replace($sprite, '___#{$key}___', sprite-svg-uri(quote(#{$value})));
        }
    } @else if type-of($user-variables) == 'map' {
        @warn 'Sprite \'#{$name}\' does not contain any variables';
    }

    background: url($sprite) center no-repeat;

    @if $include-size {
        $size: map-get($size, $name);
        @if $include-size == true {
            background-size: map-get($size, width) map-get($size, height);
        } @else if $include-size == 'box' {
            width: map-get($size, width);
            height: map-get($size, height);
        }
    }
}
