.footer {
  position: relative;
  background-color: $neutral-primary;
}

.footer__wrap {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 500px;
  gap: 20px;
  color: $default-color;

  @include for-phone {
    grid-template-columns: 100%;
  }
}


.footer__menu-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 60px;
  column-gap: 40px;
}

.footer__menu {
  display: flex;
  gap: 20px;
}

.footer__menu-column {
  // flex: 1 1 25%;
  flex-grow: 1;
}

.footer__header {
  margin-bottom: 20px;
  padding-bottom: 5px;
  font-family: $main-medium-font;
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
}

.footer__menu-list {
  @include reset-list();
}

.footer__menu-item {
  margin-bottom: 18px;
  line-height: 1;
}

.footer__menu-link {
  display: block;
  color: rgba($default-color, 0.7);
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    color: inherit;
    transform: translateX(5px);
  }
}

.footer__makro-links {
  display: flex;
  // column-gap: 100px;
}

.footer__makro-links-column {
  flex-grow: 1;
}


.footer__socials {
  @include reset-list();
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__socials-item {
  line-height: 1;
}

.footer__socials-item-link {
  display: block;
  padding: 15px;
  border-radius: 50%;
  color: $neutral-primary;
  background-color: lighten($makro-color, 25%);
  line-height: 1;
  transition: all 0.2s;

  &:hover {
    background-color: $makro-color;
  }
}

.footer__phone-link {
  display: flex;
  align-items: center;
  font-size: 22px;
  color: inherit;
  text-decoration: none;
  opacity: 0.7;
  transition: all 0.2s;

  &:hover {
    opacity: 1;
  }
}

.footer__phone-link-svg {
  margin-right: 7px;
}

.footer__markets {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer__markets-header {
  font-size: 22px;
  text-transform: uppercase;
}

.footer__market {
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    opacity: 0.7;
  }
}
