section.loyalty.section.is-medium
  .container
    .columns.is-variable.is-8
      .column.is-4
        figure.column__photo
          img(src="images/loyalty-program-img.png", width="500", height="982" alt="Программа лояльности")

      .column.is-8
        section.column__text
          p При совершении покупок в сети супермаркетов Makro наши покупатели могут зарабатывать и копить бонусные баллы. Для получения начислений при оплате покупок на кассе нужно воспользоваться пластиковой или виртуальной картой лояльности (штрих-код в мобильном приложении E-Makro). В приложении на главной странице отображаются накопленные баллы, которые можно потратить в наших магазинах на необходимые товары.
          p Благодаря приложению E-Makro, можно не только наглядно увидеть баланс своей накопительной карты, но и:
          ul
            li оплачивать покупки накопленными баллами, сканируя на кассе штрих-код;
            li получать выгоду с каждой покупки: от 1% до 2% кешбэка;
            li узнавать самые актуальные акции и предложения, действующие в сети супермаркетов Makro;
            li воспользоваться услугой доставки продуктов до нужного адреса - прямо до двери.
          p Сумма чека влияет на размер кешбэка: 1% начисляется от стоимости любой покупки (до 300 000 сумов); 2% - от чека на сумму свыше 300 000 сумов. Если оплата производится через Click Pass, то кешбэк увеличивается еще на 0,5%, соответственно до 1,5% и 2,5%, в зависимости от стоимости покупки. Бонусы могут начисляться не сразу, а через 24 часа с момента совершения покупки.

