// Шапка сайта
.header {
  position: relative;
  background-color: $default-color;
  z-index: 10;
}

.header__wrap {
  position: relative;
  min-height: 110px;
  display: flex;
  align-items: center;
  z-index: 10;

  @include mq("tablet-wide", max) {
    padding: 10px;
  }
}

.header__logo {
  flex-shrink: 0;

  @include size(260px, 55px);

  @include mq("tablet-wide", max) {
    margin-right: auto;
  }

  @include mq("phone-wide", max) {
    flex-shrink: 1;
    margin-right: 25px;
  }
}

.header__logo-img {
  @include size(100%);
}

.header__nav {
  flex-grow: 1;
  margin-right: 30px;
  margin-left: 30px;
  transition: all 0.2s;

  @include mq("tablet-wide", max) {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 20px;
    border-top: 1px solid rgba($main-font-color, 0.1);
    background-color: $default-color;
    opacity: 0;
    visibility: hidden;
    z-index: -10;

    &--active {
      top: 100%;
      opacity: 1;
      visibility: visible
    }
  }
}


// Navigation
.nav {
  @include reset-list;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @include mq("tablet-wide", max) {
    flex-direction: column;
    align-items: start;
  }
}

.nav__item {
  position: relative;
  padding-top: 7px;
  padding-bottom: 7px;
  transition: 0.3s;

  &:not(:last-child) {
    margin-right: 30px;
  }

  &--dropdown {
    margin: 0;
    padding: 0;

    &:not(:last-child) {
      margin: 0;
    }
  }

  &--has-dropdown {
    display: flex;
    align-items: center;

    &::after {
      content: "";
      display: block;

      @include size(10px);
      background-image: url("../images/chevron-down.svg");
      background-repeat: no-repeat;
      margin-left: 10px;
      transition: 0.2s;
    }
  }

  @include mq("tablet-wide") {
    &:hover .nav__dropdown {
      display: block;
      top: calc(100% + 0px);
      opacity: 1;
      pointer-events: initial;
      visibility: visible;
    }

    &--has-dropdown {

      &:hover::after {
        transform: rotate(180deg);
      }
    }
  }

  @include mq("tablet-wide", max) {
    width: 100%;

    &:not(:last-child) {
      margin: 0;
    }

    &--has-dropdown {
      flex-wrap: wrap;

      &::after {
        @include size(13px);
        position: absolute;
        top: 11px;
        right: 0;
      }
    }
  }
}

.nav__link {
  font-family: $main-medium-font;
  font-size: 15px;
  color: $main-font-color;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.2s;

  &:hover {
    color: $makro-color;
  }

  &--dropdown {
    display: block;
    padding: 7px 35px;
    font-size: 14px;
  }

  @include mq("tablet-wide", max) {
    display: block;
    width: 100%;

    &--dropdown {
      padding: 7px 20px;
    }

    &--active {

      & + .nav__dropdown {
        height: auto;
        padding-top: 5px;
        padding-bottom: 0;
      }
    }
  }
}

.nav__dropdown {
  @include reset-list;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  position: absolute;
  top: calc(100% + 15px);
  left: -30px;
  background-color: $default-color;
  box-shadow: 0 0.5em 1em -0.13em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
  transition: all 0.3s;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  @include mq("tablet-wide", max) {
    @include size(100%, 0);
    overflow: hidden;
    opacity: 1;

    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    visibility: visible;
    // opacity: 0;
    box-shadow: none;
    pointer-events: initial;

    &--active {
      height: auto;
      padding-top: 5px;
      padding-bottom: 0;
    }
  }
}


// Lang
.lang {
  position: relative;
  margin-right: 20px;
}


.lang__current {
  display: flex;
  align-items: center;
  padding: 0;
  border: 0;
  font-family: $main-bold-font;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    color: $makro-color;
  }

  &:hover .lang__icon svg {
    fill: $makro-color;
  }
}

.lang__text {
  margin-right: 8px;
}

.lang__icon {
  display: block;
}

.lang__icon svg {
  @include size(10px);
}


.lang__dropdown-menu {
  @include reset-list;

  display: none;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  position: absolute;
  top: 100%;
  left: -20px;
  background-color: $default-color;
  box-shadow: 0 0.5em 1em -0.13em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
  opacity: 0;
  transition: all 0.2s;

  &--active {
    display: block;
    opacity: 1;
  }
}

.lang__list-item {
  transition: 0.2s;
}

.lang__list-item-link {
  @include size(100%);
  display: block;
  padding: 5px 30px 5px 20px;
  color: $main-font-color;
  text-decoration: none;
  transition: 0.2s;

  &:hover {
    background-color: $makro-color;
    color: #ffffff;
  }
}


// Search

.header__search {

  @include mq("tablet-wide", max) {
    margin-right: 20px;
  }
}

.search__open {
  @include size(17px);
  cursor: pointer;
}

.search__open svg {
  @include size(100%);

  &:hover {
    fill: $makro-color;
  }
}

.search__form {
  @include size(100%);

  display: flex;
  position: absolute;
  top: -100%;
  left: 0;
  transition: all 0.3s;
  z-index: 10;

  &--active {
    top: 0;
  }
}

.search__input-wrap {
  @include size(100%);

  position: relative;
}

.search__input-icon {
  @include size(30px);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &--search {
    left: 0;
  }

  &--close {
    right: 0;
    cursor: pointer;
  }

  @include mq("tablet-wide", max) {
    &--search {
      left: 10px;
    }

    &--close {
      right: 10px;
    }
  }
}

.search__input-icon svg {
  @include size(100%);

  fill: lighten($makro-color, 20%);

  &:hover {
    fill: $makro-color;
  }
}

.search__input {
  @include size(100%);

  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 40px;
  border: 0;

  &:focus {
    outline: none;
    box-shadow: inset 0 -5px 0 0 lighten($makro-color, 20%);
  }
}

.header__mobile-nav {
  @include size(30px, 20px);

  flex-shrink: 0;
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;

  &:hover .header__mobile-nav-line {
    background-color: $makro-color;
  }

  @include mq("tablet-wide") {
    display: none;
  }
}

.header__mobile-nav--active {

  .header__mobile-nav-line {
    transform-origin: center;

    &:nth-child(1) {
      transform: translateY(3px) rotate(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      transform: translateY(-3px) rotate(-45deg);
    }
  }
}

.header__mobile-nav-line {
  @include size(100%, 3px);

  // position: absolute;
  // left: 0;
  display: block;
  border-radius: 4px;
  background-color: $main-font-color;
  transition: all 0.3s;

  &:nth-child(1) {
    // top: 0;
    transform: translateY(-7px);
  }

  &:nth-child(2) {
    // top: 50%;
  }

  &:nth-child(3) {
    // top: 100%;
    transform: translateY(7px);
  }
}
